
aiohttp==3.10.10
bandit>=1.7.10
black>=24.10.0
django==5.1.2
django-redis==5.4.0
djangorestframework==3.15.2
factory-boy>=3.3.1
gunicorn==23.0.0

ipython>=8.28.0

isort>=5.13.2
pip-check-updates>=0.27.0
pre_commit>=4.0.1
prospector>=1.12.1
psycopg2-binary==2.9.10

pytest>=8.3.3
pytest-django>=4.9.0
python-telegram-bot==21.6
pytz==2024.2
pyupgrade>=3.18.0
redis==5.1.1
requests==2.32.3
uv>=0.4.24
uvicorn[standard]==0.32.0
