{% extends "base.html" %}

{% load i18n static core_tags %}

{% block content %}
  <div id="loader">
    <img src="{% static 'img/loader.svg' %}" alt="{% translate 'Loading' %}..." />
  </div>

  <nav id="navbar">
    <a id="show-dashboard" href="#dashboard">
      <img src="{% static 'img/favicon.png' %}" width="30" height="30" alt="Logo" />
      {% translate "amon_ra" %}
    </a>
  </nav>

  <div id="container" class="container"></div>

  {% include "handlebars/login.html" %}
  {% include "handlebars/dashboard.html" %}
{% endblock %}
