body {
  font-family: Arial, Verdana, sans-serif;
  font-size: 16px;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 500;
  line-height: 1.2;
}

h1 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

h2 {
  font-size: 2rem;
  margin-bottom: .75rem;
}

h3 {
  font-size: 1.75rem;
  margin-bottom: .5rem;
}

h4 {
  font-size: 1.25rem;
  margin-bottom: .375rem;
}

h5 {
  font-size: 1rem;
  margin-bottom: .25rem;
}

h6 {
  font-size: .75rem;
  margin-bottom: .125rem;
}


a {
  color: #064d69;
  text-decoration: none;
}

input, select, textarea, button {
  padding: .5rem .75rem;
  border: 1px solid #eeeeee;
  border-radius: .25rem;
}

button[type=submit] {
  color: #ffffff;
  background: #064d69;
}

.form-row {
  padding: .25rem 0;
}

.help-text {
  font-size: .9rem;
  color: #666666;
}

.hidden {
  display: none;
}

.centered {
  position: relative;
}

.container,
.container-wide {
  margin: 0 auto;
  padding: 0 1rem;
  max-width: 600px;
}

.container-wide {
  max-width: 1200px;
}
